name: Render and publish

on:
  push:
    branches: main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  render:
    runs-on: ubuntu-latest
    permissions:
      contents: write      
    steps:
      - name: Check out
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true
      - name: Quarto render
        run: quarto render test.qmd -t pdf

